<?xml version="1.0" encoding="UTF-8"?>
<project>
  <actions/>
  <description>
  </description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
    <command>
cat /dev/null &gt; ~/.ssh/known_hosts
cd /Users/jonmarinello/mrsc/development/rightscale/repos/virtualmonkey/
cat collateral/servertemplate_tests/updatedTroops/lamp_5_5_chef.json
bin/monkey create -f collateral/servertemplate_tests/updatedTroops/lamp_5_5_chef.json -x test01_AWS_RHEL_006_lamp_5_5_chef -i 1 -o RHEL*  --yes
bin/monkey run -f collateral/servertemplate_tests/updatedTroops/lamp_5_5_chef.json -x test01_AWS_RHEL_006_lamp_5_5_chef  -r -u "booting_timeout=1400" "completed_timeout=1400" "default_timeout=1400" "error_timeout=1400" "failed_timeout=1400" "inactive_timeout=1400" "operational_timeout=1400" "snapshot_timeout=1400" "stopped_timeout=1400" "terminated_timeout=1400" -v --yes
    </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
    <childProjects>Z_test01_AWS_RHEL_006_lamp_5_5_chef</childProjects>
    <threshold>
      <name>SUCCESS</name>
      <ordinal>0</ordinal>
      <color>BLUE</color>
    </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>
