<div id="task_manager" class="resource_list">
  <h2>Tasks</h2>
  <% @actions = ["run", "edit", "save", "delete"] %>
  <%= erb :tasks, :layout => false %>
</div>
<div id="job_manager" class="resource_list">
  <h2>Jobs</h2>
  <% @actions = ["cancel"] %>
  <%= erb :jobs, :layout => false %>
</div>
